.workerSection {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.workerAvatar {
    border-radius: 50%;
    object-fit: cover;
}

.workerDetailsContainer {
    display: flex;
    gap: 0.25rem;
    color: #ffffff;
}

.workerDetails {
    display: flex;
    flex-direction: column;
}

.workerName {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
}
