/* app/user/[userId]/worker/gigs/[gigId]/feedback/FeedbackPage.module.css */

.container {
  min-height: 100vh;
  background-color: var(--foreground);
  color: rgba(256, 256, 256, 0.7);
  /* padding: 1.5rem; */
  font-family: var(--font-family);
}

.pageWrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonWrapper {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.sectionTitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #2b2b2b;
  line-height: 26px;
  padding: 1rem;
}

.sectionTitle span {
  display: block;
}

.gigSummaryCard {
  padding: 1rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.duration {
  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
}

.gigSummaryCard strong {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 23px;
}

.earnings {
  width: 85%;
  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #2b2b2b;
  padding-top: 0.4rem;
}

.textareaContainer {
  display: flex;
  justify-content: center;
}

.feedbackTextarea {
  width: 80%;
  resize: vertical;
  min-height: 105px;
  padding: 1rem;
  border: 0;
  border-radius: 1.5rem;
  background-color: #2b2b2b;
  color: #c2c2c2;
  font-size: 0.87rem;
  line-height: 16px;
  outline: none;
}

.workAgainContainer {
  padding: 1rem;
  display: flex;
}

.workAgainText,
.awardTitle,
.expensesTitle {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 23px;
}

.thumbsContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.thumbButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  color: #0f0f0f;
  background-color: #ffffff;
  outline: none;
  transition: color 0.2s ease;
}

.thumbButton svg {
  height: 22px
}

.thumbButton:hover,
.thumbButton.selected {
  color: #5dade2;
}

.badgeContainer {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.badgeButton {
  border: none;
  background: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* .badgeButton:hover,
.badgeButton.selected {
    background-color: #5dade2;
    color: #fff;
}

.badgeIcon {
    font-size: 1.2rem;
    margin-bottom: 0.25rem;
} */
.expensesContainer {
  display: flex;
  gap: 0.5rem;
}

.expensesInput {
  padding: 0.75rem;
  border: 0;
  border-radius: 1.5rem;
  background-color: #2b2b2b;
  color: #c2c2c2;
  font-size: 0.87rem;
  line-height: 16px;
  outline: none;
}

.submitButton {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 9999px;
  padding: 0.85rem 1.5rem;
  font-size: 0.87rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.submitButton:hover {
  background-color: #4338ca;
}

/* Style for the amend gig timing or add tips */
.negotiationButton {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 0.85rem 1.5rem;
  border: 0;
  border-radius: 24px;
  background-color: #808080;
  color: #ffffff;
  font-size: 0.87rem;
  line-height: 16px;
  outline: none;
  margin-bottom: 0.5rem;
}

/* Style for the numbered circles */
.actionButtonWithNumber {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.actionNumber {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}

.releaseButton {
  cursor: pointer;
  width: 100%;
  padding: 0.85rem 1.5rem;
  border: 0;
  border-radius: 1.5rem;
  background-color: var(--secondary-color);
  color: #0f0f0f;
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 16px;
  outline: none;
}

.releaseButton:hover:not(:disabled) {
  opacity: 0.85;
}
