.actionButton {
  cursor: not-allowed;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 1.5rem;
  background-color: #c7c7c7;
  color: #0f0f0f;
  font-size: 0.85rem;
  font-family: var(--font-family);
  line-height: 16px;
  outline: none;
}

.active {
  cursor: pointer;
  background-color: var(--primary-color);
}
