/* app/components/shared/GigOfferCard.module.css */

.card {
  border-radius: 1.5rem;
  border: 1px solid #2b2b2b;
  padding: 16px;
  margin-bottom: 1.25rem;
  position: relative;
  overflow: hidden;
  outline: none;
  width: 100%;
  background-color: transparent;
}

.expired {
  opacity: 0.6;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.role {
  font-size: 1.25rem;
  margin-bottom: 8px;
  color: #ffffff;
  font-family: var(--font-family);
  font-weight: 700;
}

/* .gigDetails {
    margin-bottom: 12px;
} */

.gigDetails p {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.gigLocation {
  color: #ccc;
}

.gigTime {
  color: #ccc;
}

.gigDate {
  color: #ccc;
}

.gigPay {
  color: #ccc;
}

.detailIcon {
  margin-right: 4px;
  color: #777;
}

.timerContainer {
    display: flex;
  }

.timerIcon {
  margin-right: 0.5rem;
}
.timerText {
  color: #ffffff;
  font-family: var(--font-family);
  line-height: 16px;
  font-size: 0.8rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 1.5rem;
  color: #0f0f0f;
  font-size: 14px;
  font-family: var(--font-family);
  outline: none; 
  cursor: pointer; 
  width: 77px;  
}

.acceptButton {
  background-color: #5bc0de; /* Light blue from the image */
}

.declineButton {
  background-color: #fff;
  
}

.acceptButton:disabled,
.declineButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Overlay for expired offers */
.expiredOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  z-index: 2; /* Ensure it's on top */
}

.expiredText {
  color: #ef4444; /* Red */
}

.expiredIcon {
  margin-bottom: 8px;
  color: #ef4444;
} 