/* app/components/shared/IconGrid.module.css */
.grid {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to the next line */
  gap: 1rem; /* Space between cards */
  margin-bottom: 1.5rem;
  justify-content: center;
  max-width: 400px;
}

.card {
  background: #2b2b2b; /* Dark card background */
  border-radius: 1.5rem; /* 24px */
  /* padding: 1.25rem 1rem; */
  width: 139px;
  height: 139px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content */
  justify-content: center; /* Center content vertically */
  gap: 0.75rem; /* Space between icon and label */
  text-decoration: none; /* Remove underline from Link */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 1px solid #2f2f2f; /* Subtle border */
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-color: var(--primary-color);
}

.iconWrapper {
  font-size: 1.8rem; /* Size of the icon/emoji */
  width: 80px;
  height: 80px;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f0f0f;
}

.label {
  font-size: 0.85rem;
  font-weight: 500;
}