/* app/components/shared/ReferralBanner.module.css */
.banner {
  background-color: #ffffff;
  color: #0f0f0f;
  font-size: 18px;
  border-radius: 0.375rem;
  padding: 0px 0.5rem;
  /* margin-top: 1.5rem; */
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 48px;
  gap: 9px;
}

.iconWrapper {
  flex-shrink: 0;
  /* background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 50%; */
}


.title {
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0 0.25rem 0;
  
}

.description {
  font-size: 0.875rem;
  opacity: 0.9;
  margin: 0;
}

.button {
  background: #ffffff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem; /* 8px */
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  flex-shrink: 0;
  position: relative;
}

.tooltip {
  opacity: 0;
  position: absolute;
  bottom: 120%;
  left: 40%;
  color: #ffffff;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 0.5rem; /* 8px */
  font-size: 0.75rem;
  font-weight: 600;
  transition: opacity 0.2s ease;
  white-space: nowrap;
}

.button:hover .tooltip {
  opacity: 1;
}