.togglePasswordVisibility {
  position: absolute;
  left: 88%;
  top: 25%;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #979797; /* White icon for visibility */
  font-size: 1.25rem; /* Adjust size as needed */
}

.passwordContainer {
  position: relative;
}