/* app/worker/[workerId]/profile/skills/[skillId]/SkillSpecificPage.module.css */

/* Similar to main profile page container */
.skillPageContainer {
  max-width:450px; /* Adjust as needed */
  margin: 0 auto;
  color: #ffffff;
  background-color: var(--foreground);
  font-family: var(--font-family);
  position: relative;
}
