.actionButton {
  padding: 0.75rem 1rem;
  height: 2.8rem;
  border: 0;
  border-radius: 1.5rem;
  background: #808080;
  color: var(--text-white);
  font-size: 0.85rem;
  font-family: var(--font-family);
  line-height: 16px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.activeWorker {
  cursor: pointer;
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-darker-color) 100%);
  color: var(--text-white);
}

.activeBuyer {
  cursor: pointer;
  background: linear-gradient(135deg, var(--secondary-color) 0%, var(--secondary-darker-color) 100%);
  color: var(--text-dark);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
