/* app/components/onboarding/ChatBotLayout.module.css */
.chatContainerWrapper { /* New: Full page dark background */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #161616;
  /* flex-direction: column; */
  /* align-items: center; Center the chat container and tag horizontally */
}

/* .chatTag {
  background-color: var(--primary-color, #5D5FEF);
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  max-width: 480px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */

.chatContainer {
  width: 100%;
  position: relative;
  max-width: 450px; /* Max width for chat content, can be adjusted */
  height: 100vh; /* Adjust based on padding of wrapper */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.chatContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between bubbles */
  margin: 1rem 0 2rem;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  width: 100%;
  padding-right: 0.5rem;
}

.headerText {
  color: #ffffff;
  font-size: 18px;
  font-family: "Source Sans Pro";
  font-weight: 500;
}

.footer {
  position: sticky;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
}