.container {
  color: white;
  border-radius: 1rem;
  max-width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.initial {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recordButton {
  display: flex;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid white;
  padding: 0.7rem;
  border-radius: 1.5rem;
  margin: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;          /* full width */
  height: 100vh;        /* full height */
  background: rgba(0, 0, 0, 0.4); /* semi-transparent overlay */
  backdrop-filter: blur(6px);     /* blur effect */
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 999;        /* above other elements */
  padding-top: 1rem;
}

.recorder, .preview {
  width: 90%;            /* recorder content width */
  max-width: 450px;      /* optional max width */
  background: rgb(47, 47, 47);      /* optional background for recorder itself */
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.webcam {
  border-radius: 0.5rem;
  width: 100%;
}

.inline {
  flex-direction: row;
  gap: 0.5rem;
}

.column {
  flex-direction: column;
  gap: 0.25rem;
}

.controlButton {
  background-color: var(--primary-color); /* Tailwind blue-600 */
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  border: 0;
  margin: 1rem 0;
}

.note {
  font-size: 0.75rem;
  color: #9ca3af; /* Tailwind gray-400 */
  align-self: flex-start;
}

.video {
  border-radius: 0.5rem;
  width: 100%;
}

.videoPreview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.videoActions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.actionButton {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  width: 103px;
  border: 0;
}

.rerecordButton {
  background-color: #ef4444; /* Tailwind red-600 */
}

.saveButton {
  background-color: #16a34a; /* Tailwind green-600 */
}


.monitorPlay {
  width: 20px;
  height: 20px;
}

.error {
  color: #ef4444; /* Tailwind red-600 */
  font-size: 0.875rem;
  text-align: center;
}

.fadeOut {
  animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
