/* app/reset-password/ResetPasswordPage.module.css */
.container {
  min-height: 100vh;
  background-color: #161616;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: var(--font-family);
}

.card {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.header {
  margin-bottom: 0.5rem;
}

.header h1 {
  color: #ffffff;
  font-size: 22px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0.5rem;
  white-space: pre-line;
}

.header p {
  color: #a0a0a0;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  color: #ffffff;
  font-size: 14px;
  font-family: var(--font-family);
  line-height: 16px;
  font-weight: 500;
}

.errorMessage {
  color: rgb(36, 18, 18);
  background-color: #ffd0d0;
  padding: 0.75rem;
  border-radius: var(--border-radius);
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid var(--error-color);
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.successMessage {
  background-color: rgba(16, 185, 129, 0.1);
  color: #ffffff;
  padding: 1rem;
  border-radius: var(--border-radius);
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid var(--success-color);
}

.backToSignIn {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  margin-top: 1rem;
  display: inline-block;
}

.backToSignIn:hover {
  text-decoration: underline;
}

.errorCloseBtn {
  color: var(--error-color);
  font-size: 1rem;
  cursor: pointer;
}

.toggleButton {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem 0;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  font-weight: 700;
  outline: none;
  text-decoration: none;
}

.linkText {
  color: var(--primary-color);
}

.linkText:hover {
  color: #2d7ab5;
}

.submitWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .submitWrapper {
    justify-content: center;
  }
}
