/* app/components/profile/AwardDisplayBadge.module.css */
.awardBadge {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  color: #ffffff;
  background-color: #808080;
  border-radius: 1.5rem;
  word-wrap: break-word;
  width: 88px;
  height: 66px;
}

.awardIcon {
  font-size: 24px;
  width: 24px;
  height: 25px;
}

.awardTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.awardTextLine {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 500;
  text-align: center;
} 