/* app/components/profile/AwardDisplayBadge.module.css */
.awardBadge {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  background-color: #808080;
  border-radius: 1.5rem;
  word-wrap: break-word;
  width: 85px;
  height: 80px;
}

.awardIcon {
  width: 30px;
  height:30px;
  stroke-width: 3;
}

.awardTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.awardTextLine {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}

.commonBadge {
  border: 3px solid #eab308;
}

.workerBadge {
  border: 3px solid var(--primary-color);
}

.buyerBadge {
  border: 3px solid var(--secondary-color);
}

.commonIcon {
  color: #eab308;
}

.workerIcon {
  color: var(--primary-color);
}

.buyerIcon {
  color: var(--secondary-color);
}