/* --- Footer Action Bar --- */
.footerActionBar {
  margin-top: 1.2rem;
  position: sticky;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.primaryActionButton {
  width: 90%;
  padding: 0 0.5rem;
  height: 3rem;
  border-radius: 1.5rem;
  font-size: 1.15rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #ffffff;
  color: #0f0f0f;
  border: 0;
}
.primaryActionButton:hover {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.primaryActionButton span {
  font-size: 2rem;
}
