/* app/components/profile/SkillsDisplayTable.module.css */
.skillsCard {
  background-color: var(--primary-color);
  border-radius: 2.13rem;
  padding: 0.5rem;
  color: #fff;
}

/* .skillsTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
} */

.skillsTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.skillsTable th,
.skillsTable td {
  text-align: left;
  padding-bottom: 0.6rem;
  vertical-align: middle;
}

.skill {
  padding: 4px 8px;
  border-radius: 24px;
  background-color: #161616;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  outline: none;
  max-width: 145px;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.skillsTable th {
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
}

.skillNameHeader {
  font-size: 2rem;
  font-weight: 700;
  line-height: 21px;
} 

.addSkill {
  width: 119px;
  height: 32px;
  padding: 0px 8px;
  border: 1px solid #000000;
  border-radius: 24px;
  background-color: #ffffff;
  color: #212121;
  font-size: 18px;
  font-family: var(--font-family);
  line-height: 23px;
  outline: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #121212;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalForm label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.modalForm input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  font-size: 14px;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.modalButtons button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.modalButtons button[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
}

.modalButtons button[type="submit"]:hover {
  background-color: #005bb5;
}

.modalButtons button[type="button"] {
  background-color: #e0e0e0;
}

.modalButtons button[type="button"]:hover {
  background-color: #bdbdbd;
}
