.skillSplashContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background-dark);
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  width: 30%;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 31px;
}

.role {
  font-size: 0.9rem;
  color: #ccc;
}

.icon {
  color: #41a1e8;
  height: 64px;
  width: 69px;
}

.hashtags {
  background-color: var(--primary-color);
  padding: 0.25rem 0.75rem;
  border-radius: 1.6rem;
  font-size: 1rem;
  color: #000000;
  word-wrap: break-word;
}

.review {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 23px;
}

.skillDisplayTable {
  font-size: 1rem;
}

.skillDisplayTable th {
  text-align: left;
  padding: 0.3rem 0;
  font-weight: 500;
  line-height: 1.4;
  
}

.section {
  font-size: 0.9rem;
}

.statistics {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #ccc;
  margin-top: 0.5rem;
}

.stats {
  display: flex;
  gap: 0.25rem;
}

.stats p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.stats span{
  display: block;
  font-size: 0.8rem;
  line-height: 1;
}

.supportingImages {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}

.images {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.attachButton {
  background-color: transparent;
  border: 0;
  outline: none;
}

.attachButton:hover {
  background-color: var(--border-color-light);
}

.hiddenInput {
  display: none;
}

.sectionTitle {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 1rem;
}
.badges {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 0.5rem 0 1rem;
}

.badge {
  border: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.85rem;
  color: #ccc;
  margin-bottom: 0.5rem;
  list-style: none;
}

.reviewCard {
  background: #222;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
