.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.fieldLabel {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 19px;
}
.selectContainer {
  position: relative;
}
.selectInput {
  background-color: #2b2b2b;
  color: #c2c2c2;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 8px;
  font-size: 0.875rem;
  width: 100%;
  appearance: none;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 16px;
  outline: none;
}
.selectContainer::after {
  content: '▼';
  font-size: 0.7rem;
  color: #c2c2c2;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
} 